<div class="center hero-unit">
  <h1>Welcome to My Blog</h1>

  <h2>
    Here are some links to some cool web pages:
    <a href="http://www.google.com/">Google</a></br>
    <a href="http://www.unm.edu">UNM Homepage</a></br>
    <a href="http://www.yahoo.com">Yahoo</a></br>
  </h2>

</div>

<%= link_to image_tag("logo.png", alt: "Oakland Athletics"), 'http://athletics.com/' %>
