<p id="notice"><%= notice %></p>
<div class="hero-unit">
<h2>
  <strong>Title:</strong>
  <%= @post.title %>
</h2>

<h2>
  <strong>Body:</strong>
</h2>
<p>
  <%= @post.body %>
</p>
</div>

<h3>Comments</h3>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p><%= f.label :body, "New Comment" %><br />
     <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
