<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to "BLOG", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", controller: 'welcome' %></li>
          <li><%= link_to "My Posts", controller: 'posts' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
